.node {
	outline: 1px solid var(--light-blue);
	width: 23px;
	height: 23px;
	/* margin: 1px; */
	display: inline-block;
}

.node-wall {
	background-color: var(--wall);
	outline: none;
}

.node-target {
	background-image: url(../../src/assets/target.svg);
	background-size: 23px;
	background-position: center;
}

.node-start {
	background-image: url(../../src/assets/start.svg);
	background-size: 23px;
	background-position: center;
}

.node-visited {
	background-color: var(--visited);
}

.node-shortest-path {
	background-color: var(--shortest-path);
}

@keyframes wallAnimation {
	0% {
		transform: scale(0.3);
		background-color: rgb(12, 53, 71);
	}

	50% {
		transform: scale(1.2);
		background-color: rgb(12, 53, 71);
	}

	100% {
		transform: scale(1);
		background-color: rgb(12, 53, 71);
	}
}
