* {
	margin: 0;
	padding: 0;
}

:root {
	--light-blue: #89c2d9;
	--dark-blue: #013a63;
	--green: #52b788;
	--wall: #060047;
	--visited: #85cdfd;
	--shortest-path: #fff56d;
	--svg-text-color: #420863;
	font-family: "Roboto", sans-serif;
}
